<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="Game_DBConnectionString" 
		connectionString="
      Server=DESKTOP-SO0RE5N\SQLEXPRESS;
      Database=Game_DB;				
      Trusted_Connection=True;"
		providerName= "System.Data.SqlClient"/>
	</connectionStrings>

	<appSettings>

	</appSettings>

</configuration>
